<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Ügykezelő</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-home fa-3x"></i><br>Kezdőlap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-file-invoice fa-3x"></i><br>Számla</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-envelope fa-3x"></i><br>Szállítólevél</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-hand-holding-usd fa-3x"></i><br>Díjbekérő</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-level-down-alt fa-3x"></i><br>Bevételezés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-box fa-3x"></i><br>Termékek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-user-tag fa-3x"></i><br>Vevők</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-warehouse fa-3x"></i><br>Készlet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kozepre" href="#"><i class="fas fa-cog fa-3x"></i><br>Beállítások</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
